@inherits LayoutComponentBase
<NavLink href="string?filter=test">
    string
</NavLink>

<NavLink href="bool">
    bool
</NavLink>

<NavLink href="array">
    array
</NavLink>

<div>
    @Body
</div>
